.jigou-logo {
  width: 6.4rem;
  height: 3.4rem;
  background: url('../img/jigou-back.png');
  background-size: 6.4rem 3.4rem;
  overflow: hidden;
}
.jigou-logo .jigou-text {
  width: 6.4rem;
  height: 2.4rem;
  text-align: center;
  margin-top: 0.5rem;
  color: #fff;
}
.jigou-logo .jigou-text img {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.1rem;
}
.jigou-logo .jigou-text div {
  height: 0.44rem;
  line-height: 0.44rem;
  margin-top: 0.14rem;
  font-size: 0.26rem;
}
.jigou-logo .jigou-text p {
  height: 0.4rem;
  line-height: 0.4rem;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 6rem;
  margin: 0 auto;
  font-size: 0.2rem;
}
.jigou-logo .jigou-video-pic {
  width: 6.4rem;
  height: 0.5rem;
}
.jigou-logo .jigou-video-pic .jigou-video-pic-one {
  width: 3.2rem;
  height: 0.5rem;
  float: left;
  text-align: center;
  line-height: 0.5rem;
}
.jigou-logo .jigou-video-pic .jigou-video-pic-one img {
  width: 0.24rem;
  vertical-align: middle;
  margin-right: 0.1rem;
}
.jigou-logo .jigou-video-pic .jigou-video-pic-one span {
  font-size: 0.22rem;
  color: #fff;
}
.jigou-select-title {
  width: 6.4rem;
  height: 0.7rem;
  line-height: 0.7rem;
  background: #fff;
}
.jigou-select-title .jigou-select-title-one {
  width: 33.33%;
  height: 0.7rem;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  float: left;
  font-size: 0.28rem;
}
.jigou-select-title .jigou-select-color {
  border-bottom: 2px solid #FF921A;
}
.jigou-jianjie {
  width: 6.4rem;
  height: auto;
  overflow: hidden;
}
.jigou-jianjie .jigou-jianjie-box {
  width: 6.4rem;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
  border-top: 1px solid #dcdcdc;
  margin-top: 0.2rem;
}
.jigou-jianjie .jigou-jianjie-box .jigou-jianjie-title {
  width: 6rem;
  height: 0.7rem;
  line-height: 0.7rem;
  margin: 0 auto;
}
.jigou-jianjie .jigou-jianjie-box .jigou-jianjie-title img {
  height: 0.26rem;
  vertical-align: middle;
}
.jigou-jianjie .jigou-jianjie-box .jigou-jianjie-title span {
  font-size: 0.28rem;
  color: #ff921a;
}
.jigou-jianjie .jigou-jianjie-box .jigou-jianjie-inner {
  width: 6.4rem;
  height: auto;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #dcdcdc;
}
.jigou-jianjie .jigou-jianjie-box .jigou-jianjie-inner .jigou-jianjie-inner-box {
  width: 6rem;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.jigou-jianjie .jigou-jianjie-box .jigou-jianjie-inner .jigou-jianjie-inner-box .jigou-jianjie-inner-one {
  width: 6rem;
  height: 0.46rem;
  line-height: 0.46rem;
}
.jigou-jianjie .jigou-jianjie-box .jigou-jianjie-inner .jigou-jianjie-inner-box .jigou-jianjie-inner-one span {
  font-size: 0.22rem;
  float: left;
}
.jigou-jianjie .jigou-jianjie-box .jigou-jianjie-inner .jigou-jianjie-inner-box .jigou-jianjie-inner-one span:nth-of-type(1) {
  color: #999;
  width: 1.2rem;
}
.jigou-jianjie .jigou-jianjie-box .jigou-jianjie-inner .jigou-jianjie-inner-box .jigou-jianjie-inner-one span:nth-of-type(2) {
  color: #333;
  width: 4.6rem;
}
.jigou-btn {
  width: 6.4rem;
  height: 1rem;
  line-height: 2rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.jigou-btn a {
  display: block;
  width: 5.2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  background: #FF921A;
  color: #fff;
  margin: 0 auto;
  margin-top: 0.2rem;
  border-radius: 3px;
  font-size: 0.26rem;
}
