.img
{
	width: 100%;
	height: 5.6em;
	margin-top: 44px;
}
.img img
{
	width: 100%;
	height: 100%;
}
.yueke-title
{
	width: 100%;
	height: 3.6em;
	background: #fff;
	margin-top: 0.5em;
}
.yueke-title-one
{
	width: 90%;
	height: 1.8em;
	line-height: 1.8em;
	margin: 0 auto;
}
.yueke-title-one .span1
{
	color: #959595;
}
.yueke-title-one .span2
{
	margin-left: 0.4em;
}
/******************/
.yueke-title1
{
	width: 100%;
	height: 3.6em;
	background: #fff;
	margin-top: 0.5em;
}
.yueke-title1-one
{
	width: 90%;
	height: 3.6em;
	line-height: 3.6em;
	margin: 0 auto;
}
.yueke-title1-one .span1
{
	color: #959595;
	display: inline-block;
}
.yueke-title1-one .span2
{
	margin-left: 0.7em;
	display: inline-block;
}
.yueke-title1-one a
{
	width: 5.6em;
	height: 2.2em;
	background: #FF9A37;
	line-height: 2.2em;
	color: #fff;
	border-radius: 0.2em;
	text-align: center;
	float: right;
	margin-top: 0.7em;
}
/******************/
.yueke-title2
{
	width: 100%;
	height: auto;
	background: #fff;
	margin-top: 0.5em;
	overflow: hidden;
}
.yueke-title2-one
{
	width: 90%;
	height: 1.8em;
	line-height: 1.8em;
	margin: 0 auto;
}
.yueke-title2-one .div1
{
	float: left;
	color: #959595;
}
.yueke-title2-one .div2
{
	float: left;
	height: auto;
	margin-left: 0.4em;
}

.yueke-title2-one1
{
	float: left;
	width: 90%;
	height: 1.8em;
	line-height: 1.8em;
	margin: 0 auto;
	margin-left: 5%;	
}
.yueke-title2-one1 .span1
{
	
	color: #959595;
}
.yueke-title2-one1 .span2
{
	margin-left: 0.5em;
}
/******************/
.yueke-box
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 0.5em;
	background: #fff;
}
.yueke-box-one
{
	width: 90%;
	height: 1.8em;
	line-height: 1.8em;	
	margin: 0 auto;
}
.yueke-box-one .span1
{
	color: #959595;
}
.yueke-box-one .span2
{
	margin-left: 0.7em;
	color: #666;
}

.yueke-btn
{
	width: 100%;
	height: 3em;
	background: #fff;
	position: fixed;
	bottom: 0;
	z-index: 1000;
}
.yueke-btn div
{
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}
.yueke-btn div input
{
	width: 80%;
	height: 75%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0.5em;
	margin: auto auto;	
}

.yueke-btn .btn
{
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}
.yueke-btn .btn input
{
	width: 90%;
	height: 75%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0.5em;
	margin: auto auto;	
}
/*****************/
.tishi
{
	width: 90%;
	height: auto;
	margin: 1em auto;
}
.tishi .p1
{
	
	font-size: 1.2em;
	margin-bottom: 0.5em;
	color: #5a5a5a;
}
.tishi .p2
{
	height: 2em;
	line-height: 2em;
	font-size: 0.95em;
	color: #5a5a5a;
}
.tishi .p2 .span1
{
	float: left;
	width: 10%;
}
.tishi .p2 .span2
{
	float: left;
	width: 90%;
}