.fr-xinxi {
  width: 918px;
  height: 650px;
  border: 1px solid #cacaca;
  border-top: 1px solid #ff9900;
  background: #fff;
  margin: 0 auto;
}
.fr-xinxi .box {
  width: 840px;
  height: 470px;
  margin-left: 40px;
  margin-top: 26px;
}
.fr-xinxi .box .title {
  width: 840px;
  height: 20px;
  line-height: 20px;
}
.fr-xinxi .box .title span {
  line-height: 20px;
  font-size: 16px;
}
.fr-xinxi .box .title .span1 {
  float: left;
  font-weight: bold;
}
.fr-xinxi .box .title .span2 {
  float: right;
  color: #379ecf;
  font-size: 16px;
  text-decoration: underline;
}
.fr-xinxi .box .xian {
  width: 840px;
  height: 5px;
  border-bottom: 1px solid #cacaca;
}
.fr-xinxi .box .box1 {
  width: 800px;
  height: 650px;
  margin-left: 20px;
  margin-top: 12px;
}
.fr-xinxi .box .box1 .title1 {
  width: 800px;
  height: 20px;
  line-height: 20px;
}
.fr-xinxi .box .box1 .title1 img {
  height: 18px;
  float: left;
}
.fr-xinxi .box .box1 .title1 span {
  line-height: 20px;
  font-size: 16px;
  float: left;
  margin-left: 5px;
}
.fr-xinxi .box .box1 .title1 a {
  float: right;
  color: #ff9a37;
  font-size: 16px;
}
.fr-xinxi .box .box1 .xian1 {
  width: 800px;
  height: 5px;
}
.fr-xinxi .box .box1 .text {
  width: 800px;
  height: 410px;
  border: 1px solid #cacaca;
  padding-top: 20px;
  position: relative;
}
.fr-xinxi .box .box1 .text .one {
  width: 400px;
  height: 40px;
  line-height: 40px;
  margin-left: 70px;
}
.fr-xinxi .box .box1 .text .one .span3 {
  width: 75px;
  height: 40px;
  text-align: left;
  float: left;
}
.fr-xinxi .box .box1 .text .one .span4 {
  width: 300px;
  height: 40px;
  text-align: left;
  color: #333;
  float: left;
}
.fr-xinxi .box .box1 .text .two {
  width: 600px;
  height: 72px;
  margin-left: 70px;
}
.fr-xinxi .box .box1 .text .two .span3 {
  width: 75px;
  height: 40px;
  float: left;
  line-height: 40px;
}
.fr-xinxi .box .box1 .text .two .span4 {
  width: 505px;
  height: 72px;
  line-height: 24px;
  float: left;
  color: #333;
  margin-top: 8px;
}
.fr-xinxi .box .box1 .text .img {
  position: absolute;
  background: #ccc;
  right: 40px;
  top: 36px;
  width: 200px;
  height: 140px;
}
.fr-xinxi .box .box1 .text .img img {
  width: 200px;
  height: 140px;
}
