.fr-xinxi {
  width: 918px;
  height: 880px;
  border: 1px solid #cacaca;
  border-top: 1px solid #ff9900;
  background: #fff;
  margin: 0 auto;
}
.fr-xinxi .box {
  width: 840px;
  height: 470px;
  margin-left: 40px;
  margin-top: 26px;
}
.fr-xinxi .box .title {
  width: 840px;
  height: 20px;
  line-height: 20px;
}
.fr-xinxi .box .title span {
  line-height: 20px;
  font-size: 16px;
  float: left;
}
.fr-xinxi .box .title a {
  float: right;
  color: #ff9a37;
  font-size: 16px;
}
.fr-xinxi .box .title img {
  float: left;
  margin-top: 2px;
  margin-right: 4px;
}
.fr-xinxi .box .xian {
  width: 840px;
  height: 5px;
  border-bottom: 1px solid #cacaca;
}
.fr-xinxi .box .box1 {
  width: 800px;
  height: 650px;
  margin-left: 20px;
  margin-top: 12px;
}
.fr-xinxi .box .box1 .title1 {
  width: 800px;
  height: 20px;
  line-height: 20px;
}
.fr-xinxi .box .box1 .title1 img {
  height: 18px;
  float: left;
}
.fr-xinxi .box .box1 .title1 span {
  line-height: 20px;
  font-size: 16px;
  float: left;
  margin-left: 5px;
  color: #666;
}
.fr-xinxi .box .box1 .title1 a {
  float: right;
  color: #ff9a37;
  font-size: 16px;
}
.fr-xinxi .box .box1 .xian1 {
  width: 800px;
  height: 5px;
}
.fr-xinxi .box .box1 .text {
  width: 800px;
  height: 410px;
  border: 1px solid #cacaca;
  padding-top: 20px;
  position: relative;
}
.fr-xinxi .box .box1 .text .one {
  width: 400px;
  height: 40px;
  line-height: 40px;
  margin-left: 70px;
}
.fr-xinxi .box .box1 .text .one .span3 {
  width: 75px;
  height: 40px;
  text-align: left;
  float: left;
}
.fr-xinxi .box .box1 .text .one .span4 {
  width: 300px;
  height: 40px;
  text-align: left;
  color: #333;
  float: left;
}
.fr-xinxi .box .box1 .text .two {
  width: 600px;
  height: 72px;
  margin-left: 70px;
}
.fr-xinxi .box .box1 .text .two .span3 {
  width: 75px;
  height: 40px;
  float: left;
  line-height: 40px;
}
.fr-xinxi .box .box1 .text .two .span4 {
  width: 505px;
  height: 72px;
  line-height: 24px;
  float: left;
  color: #333;
  margin-top: 8px;
}
.fr-xinxi .box .box1 .text .img {
  position: absolute;
  background: #ccc;
  right: 40px;
  top: 36px;
  width: 200px;
  height: 140px;
}
.fr-xinxi .box .box1 .text .img img {
  width: 200px;
  height: 140px;
}
.fr-xinxi .box .box1 .title2 {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
}
.fr-xinxi .box .box1 .title2 span {
  color: #000;
}
.fr-xinxi .box .box1 .text1 {
  width: 800px;
  height: 240px;
  border: 1px solid #cacaca;
  margin-top: 10px;
}
.fr-xinxi .box .box1 .text1 .one {
  width: 700px;
  height: 118px;
  margin-left: 50px;
  overflow: hidden;
}
.fr-xinxi .box .box1 .text1 .one .top {
  width: 700px;
  height: 36px;
  line-height: 36px;
  margin-top: 20px;
}
.fr-xinxi .box .box1 .text1 .one .top .span5 {
  color: #ff9a37;
}
.fr-xinxi .box .box1 .text1 .one .bottom {
  width: 700px;
  height: 36px;
  line-height: 36px;
}
.fr-xinxi .box .box1 .text1 .one .bottom span {
  color: #666;
}
.fr-xinxi .box .box1 .text1 .xian2 {
  width: 700px;
  height: 2px;
  border-top: 1px dashed #cacaca;
  margin-left: 50px;
}
