.new-live-right {
  width: 940px;
  background: #fff;
  min-height: 620px;
  float: left;
  padding: 20px;
}
.new-live-right .live-title {
  height: 40px;
  line-height: 40px;
  text-align: left;
  font-size: 20px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.new-live-right .live-inner {
  height: auto;
  overflow: hidden;
}
.new-live-right .live-inner .shuoming {
  margin: 10px 0;
}

.live-bianji {
  width: 6.4rem;
  height: auto;
  overflow: hidden;
}
.live-bianji .video {
  width: 6.4rem;
  height: 3.5rem;
  margin: 0 auto;
  overflow: hidden;
  background: #ccc;
  position: relative;
}
.live-bianji .video .img-list {
  width: 6.4rem;
  height: 3.5rem;
  position: absolute;
}
.live-bianji .video .img-list img {
  width: 6.4rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.live-bianji .video .button-list {
  position: absolute;
  right: 0;
  z-index: 10;
  width: 1rem;
  height: 3.5rem;
}
.live-bianji .video .button-list input {
  width: 1rem;
  height: 0.3rem;
}
.live-bianji .live-box {
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
}
.live-bianji .live-box .live-box-one {
  width: 6rem;
  height: 6rem;
  padding: 0.2rem;
  background: #f5f5f5;
  line-height: 0.4rem;
  position: relative;
}
.live-bianji .live-box .live-box-one .sendmessage {
  width: 6rem;
  height: 1rem;
  line-height: 1rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.live-bianji .live-box .live-box-one .sendmessage textarea {
  width: 4rem;
  height: 0.3rem;
  vertical-align: middle;
  margin: 0;
  padding: 0.15rem;
  background: #f5f5f5;
  font-size: 0.24rem;
}
.live-bianji .live-box .live-box-one .sendmessage input {
  width: 1.2rem;
  height: 0.6rem;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  background: #FF921A;
  line-height: 0.6rem;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 0.24rem;
  margin-left: 0.4rem;
}
.live-bianji .live-box .live-box-one ul {
  height: 5rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.live-bianji .live-box .live-box-one ul li {
  height: auto;
  overflow: hidden;
  width: 6rem;
  margin-top: 0.1rem;
}
.live-bianji .live-box .live-box-one ul li .wx-img {
  width: 0.6rem;
  height: 0.6rem;
  float: left;
}
.live-bianji .live-box .live-box-one ul li .wx-img img {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.5rem;
  background: #ccc;
  border: none;
}
.live-bianji .live-box .live-box-one ul li .ding {
  float: left;
  width: 5.0rem;
}
.live-bianji .live-box .live-box-one ul li .ding p {
  float: left;
  width: 5rem;
  margin-left: 0.1rem;
  overflow: hidden;
  line-height: 0.3rem;
}
.live-bianji .live-box .live-box-one ul li .ding p:nth-of-type(2) {
  font-size: 0.16rem;
  word-wrap: break-word;
}
.live-bianji .live-box .live-box-one ul li .ding p:nth-of-type(1) {
  line-height: 0.3rem;
}
.live-bianji .live-box .live-box-one ul li .ding p:nth-of-type(1) span {
  float: left;
  margin-right: 0.1rem;
}
.live-bianji .live-box .live-box-one ul li .ding p:nth-of-type(1) span:nth-of-type(1) {
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.18rem;
}
.live-bianji .live-box .live-box-one ul li .ding p:nth-of-type(1) .time {
  float: right;
  width: 1rem;
  text-align: right;
}
.live-bianji .live-box .live-box-one ul li .tuwen-img {
  float: left;
  height: 1rem;
  width: 100%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.live-bianji .live-box .live-box-one ul li .tuwen-img img {
  width: 100%;
  height: 1rem;
}
.live-bianji .live-box .live-box-one ul li .liucheng-list {
  width: 6rem;
  text-align: center;
  margin: 0.2rem auto;
}
.live-bianji .live-box .live-box-one ul li .liucheng-list h1 {
  line-height: 0.5rem;
  font-size: 0.3rem;
}
.live-bianji .live-box .live-box-one ul li .liucheng-list p {
  line-height: 0.3rem;
  font-size: 0.2rem;
}
.live-bianji .live-box .live-box-one ul li .jieshao-list {
  width: 6rem;
  text-align: center;
  margin: 0.2rem auto;
}
.live-bianji .live-box .live-box-one ul li .jieshao-list h1 {
  line-height: 0.5rem;
  font-size: 0.3rem;
}
.live-bianji .live-box .live-box-one ul li .jieshao-list p {
  line-height: 0.3rem;
  font-size: 0.2rem;
}
.live-bianji .live-box .live-box-one ul li .jieshao-list img {
  width: 6rem;
}
.live-bianji .live-box .live-box-one ul li .logo-list {
  width: 6rem;
  text-align: center;
  margin: 0.2rem auto;
}
.live-bianji .live-box .live-box-one ul li .logo-list img {
  width: 6rem;
  margin: 0 auto;
}
.live-bianji .live-box .live-box-one .guanfang {
  height: auto;
  overflow: hidden;
}
.live-bianji .live-box .live-box-one .guanfang .wx-img {
  width: 0.6rem;
  height: 0.6rem;
  float: left;
}
.live-bianji .live-box .live-box-one .guanfang .wx-img img {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.5rem;
  background: #ccc;
  border: none;
}
.live-bianji .live-box .live-box-one .guanfang .ding {
  float: left;
  width: 5rem;
}
.live-bianji .live-box .live-box-one .guanfang .ding p {
  float: left;
  width: 5rem;
  margin-left: 0.1rem;
  overflow: hidden;
  line-height: 0.3rem;
}
.live-bianji .live-box .live-box-one .guanfang .ding p:nth-of-type(2) {
  font-size: 0.16rem;
  word-wrap: break-word;
}
.live-bianji .live-box .live-box-one .guanfang .ding p:nth-of-type(1) {
  line-height: 0.3rem;
}
.live-bianji .live-box .live-box-one .guanfang .ding p:nth-of-type(1) span {
  float: left;
  margin-right: 0.1rem;
}
.live-bianji .live-box .live-box-one .guanfang .ding p:nth-of-type(1) span:nth-of-type(1) {
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.18rem;
}
.live-bianji .live-box .live-box-one .guanfang .ding p:nth-of-type(1) span:nth-of-type(2) {
  color: #fff !important;
  background-color: #5c95eb;
  width: 0.6rem;
  height: 0.3rem;
  line-height: 0.33rem;
  text-align: center;
  border-radius: 5px;
  font-size: 0.18rem;
}
.live-bianji .live-box .live-box-one .guanfang .ding p:nth-of-type(1) span:nth-of-type(3) {
  color: #fff;
  background-color: #f93;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.33rem;
  text-align: center;
  border-radius: 5px;
  font-size: 0.18rem;
}
.live-bianji .live-menu {
  width: 6.4rem;
  height: 0.7rem;
  line-height: 0.7rem;
  background: #eee;
}
.live-bianji .live-menu select {
  float: left;
  height: 0.3rem;
  margin-top: 0.2rem;
  text-align: center;
}
.live-bianji .live-menu .menu-list {
  height: 0.7rem;
  overflow: hidden;
  width: 5.4rem;
}
.live-bianji .live-menu .menu-list input {
  float: right;
  height: 0.3rem;
  width: 0.5rem;
  margin-top: 0.2rem;
}
.live-bianji .live-menu .menu-list ul {
  height: 0.7rem;
  float: left;
  overflow: hidden;
}
.live-bianji .live-menu .menu-list ul li {
  float: left;
  padding: 0 0.1rem;
}
.live-bianji .live-menu .menu-list ul li .menu-left {
  float: left;
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.14rem;
}
.live-bianji .live-menu .menu-list ul li .menu-right {
  float: left;
  width: 0.5rem;
  margin-left: 0.1rem;
}
.live-bianji .live-menu .menu-list ul li .menu-right select {
  float: left;
  height: 0.3rem;
  margin-top: 0.2rem;
  text-align: center;
}

.live-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
.live-mask .live-close {
  position: absolute;
  font-size: 60px;
  right: 20px;
  top: 20px;
  color: #fff;
  transform: rotate(45deg);
  z-index: 1001;
  cursor: pointer;
}
.live-mask .live-close img {
  cursor: pointer;
}
.live-mask .upload-img {
  position: absolute;
  width: 4.1rem;
  height: 6.8rem;
  padding: 0.2rem;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  margin: auto;
  background: #fff;
}
.live-mask .upload-img .upload-img-one {
  overflow: hidden;
}
.live-mask .upload-img .upload-img-one p {
  height: 0.3rem;
  margin-top: 0;
  line-height: 0.3rem;
  text-align: left;
}
.live-mask .upload-img .upload-img-one img {
  width: 3.2rem;
  height: 1.6rem;
  background: #ccc;
  float: left;
}
.live-mask .upload-img .upload-img-one input {
  float: left;
  width: 0.7rem;
  height: 0.3rem;
  margin-left: 0.2rem;
  margin-top: 1.3rem;
}
.live-mask .upload-img p {
  margin-top: 0.2rem;
  text-align: center;
}
.live-mask .upload-img p input {
  width: 0.7rem;
  height: 0.3rem;
}
.live-mask .upload-img h3 {
  text-align: left;
  border-bottom: 1px solid #ccc;
  width: 4.1rem;
  margin: 0 auto;
  height: 0.4rem;
  line-height: 0.4rem;
}
.live-mask .menu-paixu {
  position: absolute;
  width: 3rem;
  height: 3.2rem;
  padding: 0.2rem;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  margin: auto;
  background: #fff;
}
.live-mask .menu-paixu p:nth-of-type(1) {
  margin-top: 0.2rem;
}
.live-mask .menu-paixu p {
  height: auto;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  margin-top: 0.05rem;
}
.live-mask .menu-paixu p span {
  float: left;
  height: 0.4rem;
  line-height: 0.4rem;
  width: 0.6rem;
  text-align: right;
}
.live-mask .menu-paixu p input {
  float: left;
  height: 0.3rem;
  margin-top: 0.05rem;
  width: 1.2rem;
  margin-left: 0.1rem;
  padding-left: 0.1rem;
}
.live-mask .menu-paixu p input[type=button] {
  text-align: center;
  float: none;
  padding: 0;
  margin: 0;
  margin-top: 0.1rem;
}
.live-mask .menu-paixu h3 {
  text-align: left;
  border-bottom: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
  height: 0.4rem;
  line-height: 0.4rem;
}
.live-mask .live-menu-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.live-mask .live-menu-inner .menu-inner-one {
  width: 13rem;
  height: 7rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  overflow: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left {
  width: 6.4rem;
  background: #ffffff;
  height: 7rem;
  display: inline-block;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input {
  width: 5rem;
  margin: 0.5rem auto;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .live-jieshao {
  height: 5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input h1 {
  height: 40px;
  line-height: 40px;
  text-align: left;
  font-size: 20px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input table {
  width: 5rem;
  border-collapse: collapse;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input table tr td, .live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input th {
  border: 1px solid #ccc;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input table tr td a {
  padding: 0 0.05rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-one {
  line-height: 0.5rem;
  width: 5rem;
  height: auto;
  overflow: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-one span {
  float: left;
  width: 0.7rem;
  text-align: right;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-one input, .live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-one textarea, .live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-one select {
  float: left;
  resize: none;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  width: 2.8rem;
  padding: 5px;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-one select {
  width: 1.5rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-one input {
  height: 0.2rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-one .tishi {
  float: left;
  margin-left: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-img {
  line-height: 0.5rem;
  width: 5rem;
  height: auto;
  overflow: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-img span {
  float: left;
  width: 0.7rem;
  text-align: right;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-img img {
  float: left;
  width: 1rem;
  height: 1rem;
  background: #ccc;
  margin-left: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-img .file {
  float: left;
  width: 2rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-img .file input {
  display: block;
  margin: 0.15rem auto;
  width: 0.7rem;
  height: 0.3rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-img .file p {
  height: 0.5rem;
  line-height: 0.5rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-logo {
  line-height: 0.5rem;
  width: 5rem;
  height: auto;
  overflow: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-logo span {
  float: left;
  width: 0.7rem;
  text-align: right;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-logo img {
  float: left;
  width: 2rem;
  height: 1rem;
  background: #ccc;
  margin-left: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-logo .file {
  float: left;
  width: 1.5rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-logo .file input {
  display: block;
  margin: 0.15rem auto;
  width: 0.7rem;
  height: 0.3rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-logo .file p {
  height: 0.5rem;
  line-height: 0.5rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-submit {
  margin: 0.1rem auto;
  padding-bottom: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-submit input {
  height: 0.3rem;
  width: 0.7rem;
  padding: 0 0.2rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-add {
  margin: 0.1rem auto;
  padding-bottom: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-left .inner-input .inner-input-add input {
  height: 0.3rem;
  padding: 0 0.2rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right {
  width: 6.4rem;
  background: #ffffff;
  height: 7rem;
  display: inline-block;
  float: left;
  overflow-y: scroll;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul {
  height: auto;
  overflow: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li {
  height: auto;
  overflow: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li .liucheng-list {
  width: 6rem;
  text-align: center;
  margin: 0.2rem auto;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li .liucheng-list h1 {
  line-height: 0.5rem;
  font-size: 0.3rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li .liucheng-list p {
  line-height: 0.3rem;
  font-size: 0.2rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li .jieshao-list {
  width: 6rem;
  text-align: center;
  margin: 0.2rem auto;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li .jieshao-list h1 {
  line-height: 0.5rem;
  font-size: 0.3rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li .jieshao-list p {
  line-height: 0.3rem;
  font-size: 0.2rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li .jieshao-list img {
  width: 6rem;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li .logo-list {
  width: 6rem;
  text-align: center;
  margin: 0.2rem auto;
}
.live-mask .live-menu-inner .menu-inner-one .inner-right ul li .logo-list img {
  width: 6rem;
  margin: 0 auto;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right {
  width: 6.4rem;
  background: #ffffff;
  height: 7rem;
  display: inline-block;
  float: left;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box {
  width: 6rem;
  height: 6.6rem;
  background: #f5f5f5;
  line-height: 0.4rem;
  padding: 0.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul {
  height: 6.2rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li {
  height: auto;
  overflow: hidden;
  margin-top: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li .wx-img {
  width: 0.6rem;
  height: 0.6rem;
  float: left;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li .wx-img img {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.5rem;
  background: #ccc;
  border: none;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li .ding {
  float: left;
  width: 5.0rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li .ding p {
  float: left;
  width: 5rem;
  margin-left: 0.1rem;
  overflow: hidden;
  line-height: 0.3rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li .ding p:nth-of-type(2) {
  font-size: 0.16rem;
  text-align: left;
  word-wrap: break-word;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li .ding p:nth-of-type(1) {
  line-height: 0.3rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li .ding p:nth-of-type(1) span {
  float: left;
  margin-right: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li .ding p:nth-of-type(1) span:nth-of-type(1) {
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.18rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box ul li .ding p:nth-of-type(1) .time {
  float: right;
  width: 1rem;
  text-align: right;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang {
  height: auto;
  overflow: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .wx-img {
  width: 0.6rem;
  height: 0.6rem;
  float: left;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .wx-img img {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.5rem;
  background: #ccc;
  border: none;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .ding {
  float: left;
  width: 5.0rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .ding p {
  float: left;
  width: 5.3rem;
  margin-left: 0.1rem;
  overflow: hidden;
  line-height: 0.3rem;
  text-align: left;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .ding p:nth-of-type(2) {
  font-size: 0.16rem;
  word-wrap: break-word;
  text-align: left;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .ding p:nth-of-type(1) {
  line-height: 0.3rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .ding p:nth-of-type(1) span {
  float: left;
  margin-right: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .ding p:nth-of-type(1) span:nth-of-type(1) {
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.18rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .ding p:nth-of-type(1) span:nth-of-type(2) {
  color: #fff !important;
  background-color: #5c95eb;
  width: 0.6rem;
  height: 0.3rem;
  line-height: 0.33rem;
  text-align: center;
  border-radius: 5px;
  font-size: 0.18rem;
}
.live-mask .live-menu-inner .menu-inner-one .hudong-right .hudong-box .guanfang .ding p:nth-of-type(1) span:nth-of-type(3) {
  color: #fff;
  background-color: #f93;
  width: 0.3rem;
  height: 0.3rem;
  line-height: 0.33rem;
  text-align: center;
  border-radius: 5px;
  font-size: 0.18rem;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right {
  width: 6.4rem;
  background: #ffffff;
  height: 7rem;
  display: inline-block;
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul {
  height: 6.6rem;
  padding: 0.2rem;
  width: 6rem;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li {
  height: auto;
  overflow: hidden;
  margin-top: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .wx-img {
  width: 0.6rem;
  height: 0.6rem;
  float: left;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .wx-img img {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.5rem;
  background: #ccc;
  border: none;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .ding {
  float: left;
  width: 5.0rem;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .ding p {
  float: left;
  width: 5rem;
  margin-left: 0.1rem;
  overflow: hidden;
  line-height: 0.3rem;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .ding p:nth-of-type(2) {
  font-size: 0.16rem;
  word-wrap: break-word;
  text-align: left;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .ding p:nth-of-type(1) {
  line-height: 0.3rem;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .ding p:nth-of-type(1) span {
  float: left;
  margin-right: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .ding p:nth-of-type(1) span:nth-of-type(1) {
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.18rem;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .ding p:nth-of-type(1) .time {
  float: right;
  width: 1rem;
  text-align: right;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .tuwen-img {
  float: left;
  height: 1rem;
  width: 100%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.live-mask .live-menu-inner .menu-inner-one .tuwen-right ul li .tuwen-img img {
  width: 100%;
  height: 1rem;
}

/*# sourceMappingURL=add-live.css.map */
