$menu-h:0.7rem;
.video{
  width: 6.4rem;
  height: 3.5rem;
  margin: 0 auto;
  overflow: hidden;
  background: #333;
  position: relative;
  font-size: 0;
  video{
    height: 3.5rem;
    width: 6.4rem;
    background-size: 6.4rem 3.5rem!important;

  }
  .video-button{
    background: #333;
    width: 6rem;
    margin: 0 auto;
    height: 0.7rem;
    text-align: right;
    font-size: 0;
    input{
      margin-left: 0.3rem;
      margin-top: 0.1rem;
      height: 0.5rem;
      border-radius: 0.24rem;
      width: auto;
      padding: 0 0.2rem;
      line-height: 0;
      border: 1px solid #fff;
      color: #fff;
      background: #333;
      font-size: 0.24rem;
    }
    .button-color{
      color: #333;
      background: #fff;
      border-color: #333;
    }
  }
}
.live-box{
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  background: #f5f5f5;
  .live-box-one{
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    background: #f5f5f5;
    line-height: 0.4rem;
    overflow: hidden;
    position: relative;
    .sendmessage{
      width: 6rem;
      height: 1rem;
      line-height: 1rem;
      background: #fff;
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      margin: 0 auto;
      textarea {
        width: 4rem;
        height: 0.3rem;
        vertical-align: middle;
        margin: 0;
        padding: 0.15rem;
        background: #f5f5f5;
        font-size: 0.24rem;
        resize: none;
      }
      input {
        width: 1.2rem;
        height: 0.6rem;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        background: #FF921A;
        line-height: 0.6rem;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        border: none;
        font-size: 0.24rem;
        margin-left: 0.4rem;
      }
    }
    .guanfang{
      height: auto;
      overflow: hidden;
      margin-top: 0.1rem;
      .wx-img{
        width: 0.7rem;
        height: 0.7rem;
        float: left;
        margin-bottom: 0.1rem;

        img{
          width: 0.7rem;
          height: 0.7rem;
          background: #ccc;
          border:none;
        }
      }
      .ding{
        float: left;
        width: 5.2rem;
        margin-bottom: 0.1rem;

        p{
          float: left;
          width: 5.2rem;
          margin-left: 0.1rem;
          overflow: hidden;
          line-height: 0.3rem;
        }
        p:nth-of-type(2){
          font-size: 0.2rem;
          word-wrap: break-word;
          line-height: 0.4rem;
        }
        p:nth-of-type(1){
          line-height: 0.3rem;
          font-size: 0.2rem;
          span{
            float: left;
            margin-right: 0.1rem;
          }
          span:nth-of-type(1)
          {
            height: 0.3rem;
            line-height: 0.3rem;
            text-align: center;
            color: #999;
          }
          span:nth-of-type(2)
          {
            color: #fff!important;
            background: linear-gradient(to bottom,#15b5ff,#00a3ff);
            width: 0.5rem;
            height: 0.3rem;
            line-height: 0.33rem;
            text-align: center;
            border-radius: 5px;
            font-size: 0.18rem;
          }
          span:nth-of-type(3)
          {
            color: #fff;
            background: linear-gradient(to bottom,#ff991d,#ff8000);
            width: 0.3rem;
            height: 0.3rem;
            line-height: 0.33rem;
            text-align: center;
            border-radius: 5px;
            font-size: 0.18rem;
          }
        }
      }
    }
    ul{
      height: 5rem;
      overflow-x: hidden;
      overflow-y: scroll;
      li{
        height: auto;
        overflow: hidden;
        width: 6rem;
        //.liucheng-list{
        //  width: 6rem;
        //  text-align: center;
        //  margin-top: 0.2rem;
        //  margin-bottom: 0.2rem;
        //  h1{
        //    line-height: 0.5rem;
        //    font-size: 0.3rem;
        //  }
        //  p{
        //    line-height: 0.3rem;
        //    font-size: 0.2rem;
        //  }
        //}
        .wx-img{
          width: 0.7rem;
          height: 0.7rem;
          float: left;
          margin-bottom: 0.1rem;
          img{
            width: 0.7rem;
            height: 0.7rem;
            background: #ccc;
            border:none;
          }
        }
        .ding{
          float: left;
          width: 5.2rem;
          margin-bottom: 0.1rem;
          p{
            float: left;
            width: 5.2rem;
            margin-left: 0.1rem;
            overflow: hidden;
            line-height: 0.3rem;
          }
          p:nth-of-type(2){
            font-size: 0.2rem;
            word-wrap: break-word;
            line-height: 0.4rem;
          }
          p:nth-of-type(1){
            line-height: 0.3rem;
            font-size: 0.2rem;
            span{
              float: left;
              margin-right: 0.1rem;
              color: #999;
            }
            span:nth-of-type(1)
            {
              height: 0.3rem;
              line-height: 0.3rem;
              text-align: center;

            }
            .time{
              float: right;
              overflow: hidden;
              text-align: right;
              font-size: 0.18rem;
            }
          }
        }
        .tuwen-time{
          color: #f60;
          height: 0.3rem;
          line-height: 0.3rem;
          font-size: 0.18rem;
          margin-top: 0.1rem;
          span{
            color: #f60;
          }
          //span:nth-of-type(1){
          //  display: inline-block;
          //  width: 0.1rem;
          //  height: 0.1rem;
          //  border-radius: 0.1rem;
          //  border:1px solid #f60;
          //  margin-right: 0.05rem;
          //  vertical-align: middle;
          //}
        }
        .tuwen-img{
          float: left;
          width: 100%;
          img{
            width: 100%;
          }
        }
        .liucheng-list{
          width: 6rem;
          text-align: center;
          margin: 0.2rem auto 0;
          h1{
            line-height: 0.5rem;
            font-size: 0.3rem;
            height: 0.5rem;
          }
          p:nth-of-type(1)
          {
            background: url("../img/liucheng_bg.png") center;
            background-size: 6rem 0.4rem;
            height: 0.4rem;
            line-height: 0.4rem;
            color: #ff991d;
            width: 6rem;
            font-size: 0.22rem;
          }
          p:nth-of-type(2)
          {
            text-align: center;
            height: 0.5rem;
            line-height: 0.5rem;
            font-size: 0.28rem;
          }
        }
        .jieshao-list{
          width: 6rem;
          text-align: center;
          margin: 0 auto 0.2rem;
          h1{
            line-height: 0.7rem;
            font-size: 0.3rem;
            height: 0.7rem;
          }
          p{
            line-height: 0.4rem;
            font-size: 0.2rem;
            text-align: left;
          }
          img{
            width: 6rem;
          }
        }
        .logo-list{
          text-align: center;
          margin: 0.2rem auto 0;
          height: auto;
          overflow: hidden;
          font-size: 0;
          line-height: 0;
          img{
            width: 6rem;
          }
        }
      }
    }

  }
}
.live-menu{
  width: 6.4rem;
  height: 0.7rem;
  line-height:$menu-h;
  background: #eee;
  ul{
    height: $menu-h;
    overflow: hidden;
    li{
      float: left;
      width: 1.2rem;
      height:$menu-h;
      text-align: center;
      div{
        width: 60%;
        line-height: $menu-h;
        border-bottom: 4px solid rgba(0,0,0,0);
        box-sizing: border-box;
        margin: 0 auto;
        height: $menu-h;
        font-size: 0.24rem;
      }
      .menu-color{
        border-bottom-color:#f93;
        color: #f93;
      }
    }
  }
}