<!DOCTYPE html>
<html lang="" ng-app='myapp'>
<head>
	<meta charset="UTF-8">
	<title>ng-http</title>
	<link rel="stylesheet" href="lib/bootstrap.css">
	<script src='lib/angular.js'></script>
	<style>
		table, th , td  {
		 	border-collapse: collapse;
		  	padding: 5px;
		  	border: 1px solid #0ff
		}
		table tr:nth-child(odd) {
		  	background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
		  	background-color: #ffffff;
	}
	</style>
</head>
<body>
	<div ng-controller="ctrl">
<!-- 		<div hello></div>	 -->
<!-- 	<table>
		<tr ng-repeat="x in data">
		   	<td>{{ $index+1 }}</td>
		    <td>{{ x.id }}</td>
		    <td>{{ x.title }}</td>
		    <td>{{ x.content }}</td>
		    <td>{{ x.create_time }}</td>
		</tr>
	</table> -->
	<select ng-model="xxx" ng-options="x.create_time for x in data" ng-change="change()">
	</select>
	<div>{{xxx.title}}</div>
	<div>{{xxx.create_time}}</div>
	</div>
</body>
<script>
	var app = angular.module('myapp', []);
	app.controller('ctrl', function($scope, $http) {
	  $http.get("/ng/json/index.json")
	  	.success(function (msg) {
	  		$scope.data = msg;
	  	});
	  	$scope.change=function(){

	  	};
	});
	// app.directive('hello', [function () {
	// 	return {
	// 		scope:true,
	// 		restrict: 'AE',
	// 		replace:true,
	// 		template:"<a ng-repeat='x in data' href='http://{{x.id}}' >{{x.title}} {{x.Country}}<br/></a>"
	// 	};
	// }])
	// app.directive('xxx', [function () {
	// 	return {
	// 		restrict: 'AE',
	// 		replace:true,
	// 		link: function (scope, iElement, iAttrs) {
				
	// 		}
	// 	};
	// }])
</script>
</html>