.content{
	padding-top:44px;
	width:100%;
    text-align: center;
}
.content .title{
    height:30px;
    text-align: center;
    font-size: 1.1em;
    line-height: 30px;
    background:#fff;
    margin-bottom:10px;
}
.content .title span{
    padding:6px;
}
.phone_num{
	width:100%;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	height:43px;
}
.phone_num input{
	height:41px;
	outline: none;
	border:none;
	width:100%;
	background: #fff;
	padding-left: 5%;
}
.phone_sub{
	width:90%;
	text-align: center;
	margin: 0 auto;
	height:42px;
	border-radius: 4px;
	background: #2fb1ed;
	color:#fff;
	letter-spacing: 2px;
	margin-top:14px;
}
.content .inp_par{
    width:100%;
}
 .inp_par ul li{
    border-top:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    margin-top:-1px;
    height:43px;
    padding-left:5%;
    background:#fff;
 }
  .inp_par ul li input {
    border:none;
    float:left;
    outline:none;
    height:100%;
    width:80%;
  }
   .inp_par .yzm input,.inp_par .dx_yzm input{
    width:50%;
   }

.inp_par .yzm img{
    height:30px;
    float:left;
    margin-top:6px;
    margin-left:5%;
}
.content  .inp_par .oc_yzm {
    float:left;
    height:30px;
    width:35%;
    margin-top:6px;
    margin-left:5%;
    background:#2fb1ed;
    border-radius: 3px;
    color:#fff;
}	
.content>a{
	display:block ;
	width: 90%;
	text-align: left;
	margin:0 auto;
	margin-top:27px;
	
}	